<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Pinmeal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <script src="jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="data.js"></script>
    <script src="main.js"></script>
    <style type="text/css">
      .warning { color: red; }
      #menu { 
       float: left; 
       width: 300px;
      }
      #result {
       margin-left: 320px;
       width: 420px;
      }
      textarea {
       width: 100%;
       height: 600px;
      }
      .template {
       display: none;
      }
      .date_meals {
        margin-bottom: 10px;
      }
      .date {
        background-color: grey;
      }
      #name {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <h1 class="warning">本网页不能提交点餐信息!请自行手动复制粘贴右边的结果!</h1>
    </div>
    <div id="body">
      <div id="menu">
	<div id="name">
	  <label>名字:</label><input type="text" id="user_name" />
	</div>
	<div id="items"></div>
      </div>
      <div id="result">
	<div id="sum"></div>
	<textarea></textarea>
      </div>
    </div>

    <div class="template">
      <script type="text/underscore-template" id="day_menu_template">

	  <% data.forEach(function (date_meals) { %>
	  <div class="date_meals">
            <div class="date"><%= format_date(date_meals.date) %></div>
	    <% date_meals.meals.forEach(function (time_meals) { %>
	    <div>
	      <label><%= format_time(time_meals.time) %></label>
	      <select>
		<% time_meals.meals.forEach(function (meal, i) { %>
                <option date="<%= date_meals.date %>"  time="<%= time_meals.time %>" index="<%= i %>"><%= format_meal(meal) %></option>
		<% }) %>
	      </select>
	    </div>
	    <% }); %>
	  </div>
	  <% }); %>

      </script>
    </div>
  </body>
</html>
